<%# add navigation links to this file %>
<div class='nav-item  <%= active_class(edit_user_path(current_user))%>'><%= link_to 'Mi Perfil', edit_user_path(current_user),:class => "nav-link #{active_class(edit_user_path(current_user))}"%>
</div>
